* {
    margin: 0;
    box-sizing: border-box;
}

.top {
    width: 100%;
    background-color: lightgrey;
    padding: 20px;
}
.lil-box {
    height: 70px;
    width: 70px;
    background-color: rgb(112, 112, 246);
}

.text-section {
    padding: 50px;
}

.blue {
    height: 160px;
    width: 100%;
    background-color: rgb(112, 112, 246);
}

.teal {
    height: 160px;
    width: 100%;
    background-color: rgb(57, 222, 222);
}

.puke {
    height: 160px;
    width: 100%;
    background-color: rgb(202, 237, 150);
}

.yellow {
    height: 160px;
    width: 100%;
    background-color: yellow;
}

.question {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
.question:hover {
    transform: scale(1.1);
    background-color: lightcoral;
    cursor: pointer;
}

h2 {
    color: white;
}

a {
    text-decoration: none;
}